In [1]:
import pandas as pd

train_df=pd.read_json('train.json').sort_values(by="listing_id")
test_df=pd.read_json('test.json').sort_values(by="listing_id")

train_df.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,49352.00000,49352.000000,49352.000000,4.935200e+04,49352.000000,4.935200e+04
mean,1.21218,1.541640,40.741545,7.024055e+06,-73.955716,3.830174e+03
std,0.50142,1.115018,0.638535,1.262746e+05,1.177912,2.206687e+04
min,0.00000,0.000000,0.000000,6.811957e+06,-118.271000,4.300000e+01
25%,1.00000,1.000000,40.728300,6.915888e+06,-73.991700,2.500000e+03
50%,1.00000,1.000000,40.751800,7.021070e+06,-73.977900,3.150000e+03
75%,1.00000,2.000000,40.774300,7.128733e+06,-73.954800,4.100000e+03
max,10.00000,8.000000,44.883500,7.753784e+06,0.000000,4.490000e+06

In [2]:
test_df.describe()

,bathrooms,bedrooms,latitude,listing_id,longitude,price
count,74659.000000,74659.000000,74659.000000,7.465900e+04,74659.000000,7.465900e+04
mean,1.212915,1.544663,40.735060,7.024001e+06,-73.945282,3.749033e+03
std,0.649820,1.107014,0.806687,1.264496e+05,1.487795,9.713092e+03
min,0.000000,0.000000,0.000000,6.811958e+06,-121.488000,1.000000e+00
25%,1.000000,1.000000,40.727800,6.915516e+06,-73.991800,2.495000e+03
50%,1.000000,1.000000,40.751600,7.021738e+06,-73.977700,3.150000e+03
75%,1.000000,2.000000,40.774300,7.129166e+06,-73.954700,4.100000e+03
max,112.000000,7.000000,42.872700,7.761779e+06,0.000000,1.675000e+06

In [3]:
#using number of photos as a metric instead of photos due to lack of computational power

train_df["num_photos"] = train_df["photos"].apply(len)

#creating new features based on hunches

train_df["num_features"] = train_df["features"].apply(len)
train_df["room_sum"] = train_df["bedrooms"]+train_df["bathrooms"]
#converting "created" column to change from object type to timeseries type
train_df[['created']] = pd.to_datetime(train_df['created'])
#Converting the target variables from low, medium and high to 1,2 and 3 for convinience
train_df = train_df.replace({"interest_level": {"high": 1, "medium": 2, "low": 3}})
#reseting the index to start from 0 for convinicence
train_df = train_df.reset_index()
train_df.head()

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,num_photos,num_features,room_sum
0,111817,1.0,1,2a21319016fe50100e0b8ebb5a4f9cf0,2016-04-01 22:12:41,X-LARGE Flex 1BR Loft! ~~ PRIME Greenwich Vill...,Astor Place,"[Doorman, Elevator, Laundry In Building]",1,40.7302,6811957,-73.9924,f07272f8ceb99db4c1a7cbbd9ae7b75b,[https://photos.renthop.com/2/6811957_3dad56e8...,3195,1 Astor Place,5,3,2.0
1,117995,1.0,0,104bfeddd65a0890b071c3a09cf81704,2016-04-01 22:56:00,"This Enormous Studio Features: Harwood Floors,...",East 54th Street,"[Cats Allowed, Dogs Allowed, No Fee, Laundry I...",2,40.7576,6811965,-73.9677,3b630ec9cb6eee53b92cfac7f42e3bf4,[https://photos.renthop.com/2/6811965_b8f942e6...,2000,230 East 54th Street,2,4,1.0
2,114617,2.0,3,8775706158cbc96d12dd441d42e11deb,2016-04-01 22:57:15,--- East 31st St & Lexington Avenue --- This S...,East 31st St & Lexington Avenue,"[Common Outdoor Space, Cats Allowed, Private O...",1,40.7388,6811966,-73.9851,3b630ec9cb6eee53b92cfac7f42e3bf4,[https://photos.renthop.com/2/6811966_8b83c24d...,5850,105 Lexington Avenue,7,9,5.0
3,117474,1.0,1,bc4e62116277654d4df66ab77a1152f8,2016-04-01 23:26:07,Reduced Fee!! Priced To Rent!\rLarge Newly Upd...,West End Ave,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",2,40.7939,6811973,-73.9738,262471a6a678adb458e879b092b23b4b,[https://photos.renthop.com/2/6811973_c87c8f6d...,2745,700 West End Ave,5,7,2.0
4,103891,1.0,1,18c5b031bad8cef779efa7e2398a42a3,2016-04-02 00:48:13,Phenomenal deal of the century!! This spacious...,E 88th street,"[Cats Allowed, Dogs Allowed, Doorman, Elevator...",2,40.7784,6811975,-73.9491,7c5e4fc025b70c6540d6b0e06716b9dd,[https://photos.renthop.com/2/6811975_370cb787...,2400,401 E 88th street,7,7,2.0

In [4]:
#using number of photos as a metric instead of photos due to lack of computational power

test_df["num_photos"] = test_df["photos"].apply(len)

#creating new features based on hunches

test_df["num_features"] = test_df["features"].apply(len)
test_df["room_sum"] = test_df["bedrooms"]+test_df["bathrooms"]
#converting "created" column to change from object type to timeseries type
test_df[['created']] = pd.to_datetime(test_df['created'])
#Converting the target variables from low, medium and high to 1,2 and 3 for convinience
test_df = test_df.replace({"interest_level": {"high": 1, "medium": 2, "low": 3}})
#reseting the index to start from 0 for convinicence
test_df = test_df.reset_index()
test_df.head()

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,num_photos,num_features,room_sum
0,120972,2.0,3,8775706158cbc96d12dd441d42e11deb,2016-04-01 22:23:31,--- East 30th St & Park Avenue --- This FULL 3...,30th St & Park Avenue,"[Common Outdoor Space, Cats Allowed, Private O...",40.7475,6811958,-73.9800,3b630ec9cb6eee53b92cfac7f42e3bf4,[https://photos.renthop.com/2/6811958_bb863a41...,5000,105 Lexington Avenue,4,8,5.0
1,94250,2.0,2,a6fb47bf44e73e699b9acf3d8cde48f0,2016-04-01 22:50:13,"This ABSOLUTELY HUMONGOUS, RENOVATED, CORNER, ...",East 25th Street & 3rd Avenue,"[Cats Allowed, Dogs Allowed, No Fee, Doorman, ...",40.7378,6811960,-73.9833,3b630ec9cb6eee53b92cfac7f42e3bf4,[https://photos.renthop.com/2/6811960_a3bd5175...,5195,210 East 22nd Street,6,6,4.0
2,101044,1.0,2,eecb5b0c50cfa91ce21d340e2a330511,2016-04-01 22:54:42,--- 31st St & Lexington Avenue --- This STUNNI...,East 31st St & Lexington Avenue,"[Common Outdoor Space, Cats Allowed, Private O...",40.7388,6811964,-73.9851,3b630ec9cb6eee53b92cfac7f42e3bf4,[https://photos.renthop.com/2/6811964_25445445...,3795,151 Lexington Avenue,5,8,3.0
3,110776,1.0,1,61e8954b2236d9a685396c8656e3c59c,2016-04-01 23:13:27,Recently renovated one bedroom (can be flexed ...,East 34th St,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7456,6811971,-73.9786,262471a6a678adb458e879b092b23b4b,[https://photos.renthop.com/2/6811971_5a8ef251...,3450,166 East 34th St,7,8,2.0
4,89929,1.0,1,2436db617eb8bf478a472f5839b3fee9,2016-04-02 00:04:46,Spacious 1Br apartment (883 sq ft.) features p...,"19-19 24th Avenue, Astoria, NY 11102","[Common Outdoor Space, Cats Allowed, Private O...",40.7773,6811974,-73.9222,f678d8e6d0e4c1c52315d7b5634fe850,[https://photos.renthop.com/2/6811974_f743ac4f...,2095,"19-19 24th Avenue, Astoria, NY 11102",9,10,2.0

In [5]:
from nltk.stem import PorterStemmer
import re

#Stemming for the description
stemmer = PorterStemmer()
def clean(x):
    regex = re.compile('[^a-zA-Z ]')
    i = regex.sub(' ', x).lower()
    i = i.split(" ") 
    i= [stemmer.stem(l) for l in i]
    i= " ".join([l.strip() for l in i if (len(l)>2) ]) # Keeping words that have length greater than 2
    return i
print('Description before Stemming: \n',train_df[['description']].head())
train_df[['description']] = train_df.description.apply(lambda x: clean(x))
print('Description after Stemming: \n',train_df[['description']].head())

Description before Stemming:
                                          description
0  X-LARGE Flex 1BR Loft! ~~ PRIME Greenwich Vill...
1  This Enormous Studio Features: Harwood Floors,...
2  --- East 31st St & Lexington Avenue --- This S...
3  Reduced Fee!! Priced To Rent!\rLarge Newly Upd...
4  Phenomenal deal of the century!! This spacious...
Description after Stemming:
                                          description
0  larg flex loft prime greenwich villag locat do...
1  thi enorm studio featur harwood floor high cei...
2  east lexington avenu thi stun bedroom flex gre...
3  reduc fee price rent larg newli updat one bedr...
4  phenomen deal the centuri thi spaciou apart gr...

In [6]:
print('Description before Stemming: \n',test_df[['description']].head())
test_df[['description']] = test_df.description.apply(lambda x: clean(x))
print('Description after Stemming: \n',test_df[['description']].head())

Description before Stemming:
                                          description
0  --- East 30th St & Park Avenue --- This FULL 3...
1  This ABSOLUTELY HUMONGOUS, RENOVATED, CORNER, ...
2  --- 31st St & Lexington Avenue --- This STUNNI...
3  Recently renovated one bedroom (can be flexed ...
4  Spacious 1Br apartment (883 sq ft.) features p...
Description after Stemming:
                                          description
0  east park avenu thi full bedroom apart absolut...
1  thi absolut humong renov corner true bedroom b...
2  lexington avenu thi stun bedroom flex great de...
3  recent renov one bedroom can flex murray hill ...
4  spaciou apart featur privat terrac open kitche...

In [7]:
#Prices wrt to the number of bedrooms
train_df["price_t"] =train_df["price"]/train_df["bedrooms"]
# count of words present in description column
train_df["num_description_words"] = train_df["description"].apply(lambda x: len(x.split(" ")))

In [8]:
#Prices wrt to the number of bedrooms
test_df["price_t"] =test_df["price"]/test_df["bedrooms"]
# count of words present in description column
test_df["num_description_words"] = test_df["description"].apply(lambda x: len(x.split(" ")))

In [9]:
numerical_features = ["bathrooms","bedrooms","latitude","longitude","price","num_photos","num_features","room_sum"]
categorical_features = ["display_address", "manager_id", "building_id", "street_address"]
train_df[categorical_features].head()

,display_address,manager_id,building_id,street_address
0,Astor Place,f07272f8ceb99db4c1a7cbbd9ae7b75b,2a21319016fe50100e0b8ebb5a4f9cf0,1 Astor Place
1,East 54th Street,3b630ec9cb6eee53b92cfac7f42e3bf4,104bfeddd65a0890b071c3a09cf81704,230 East 54th Street
2,East 31st St & Lexington Avenue,3b630ec9cb6eee53b92cfac7f42e3bf4,8775706158cbc96d12dd441d42e11deb,105 Lexington Avenue
3,West End Ave,262471a6a678adb458e879b092b23b4b,bc4e62116277654d4df66ab77a1152f8,700 West End Ave
4,E 88th street,7c5e4fc025b70c6540d6b0e06716b9dd,18c5b031bad8cef779efa7e2398a42a3,401 E 88th street

In [10]:
train_df[numerical_features].head()

,bathrooms,bedrooms,latitude,longitude,price,num_photos,num_features,room_sum
0,1.0,1,40.7302,-73.9924,3195,5,3,2.0
1,1.0,0,40.7576,-73.9677,2000,2,4,1.0
2,2.0,3,40.7388,-73.9851,5850,7,9,5.0
3,1.0,1,40.7939,-73.9738,2745,5,7,2.0
4,1.0,1,40.7784,-73.9491,2400,7,7,2.0

In [11]:
test_df[categorical_features].head()

,display_address,manager_id,building_id,street_address
0,30th St & Park Avenue,3b630ec9cb6eee53b92cfac7f42e3bf4,8775706158cbc96d12dd441d42e11deb,105 Lexington Avenue
1,East 25th Street & 3rd Avenue,3b630ec9cb6eee53b92cfac7f42e3bf4,a6fb47bf44e73e699b9acf3d8cde48f0,210 East 22nd Street
2,East 31st St & Lexington Avenue,3b630ec9cb6eee53b92cfac7f42e3bf4,eecb5b0c50cfa91ce21d340e2a330511,151 Lexington Avenue
3,East 34th St,262471a6a678adb458e879b092b23b4b,61e8954b2236d9a685396c8656e3c59c,166 East 34th St
4,"19-19 24th Avenue, Astoria, NY 11102",f678d8e6d0e4c1c52315d7b5634fe850,2436db617eb8bf478a472f5839b3fee9,"19-19 24th Avenue, Astoria, NY 11102"

In [12]:
test_df[numerical_features].head()

,bathrooms,bedrooms,latitude,longitude,price,num_photos,num_features,room_sum
0,2.0,3,40.7475,-73.9800,5000,4,8,5.0
1,2.0,2,40.7378,-73.9833,5195,6,6,4.0
2,1.0,2,40.7388,-73.9851,3795,5,8,3.0
3,1.0,1,40.7456,-73.9786,3450,7,8,2.0
4,1.0,1,40.7773,-73.9222,2095,9,10,2.0

In [13]:
from sklearn import preprocessing

for f in categorical_features:
        if train_df[f].dtype=='object':
            #print(f)
            lbl = preprocessing.LabelEncoder()
            lbl.fit(list(train_df[f].values) + list(test_df[f].values))
            train_df[f] = lbl.transform(list(train_df[f].values))
            test_df[f] = lbl.transform(list(test_df[f].values))
            numerical_features.append(f)

In [14]:
train_X = train_df[numerical_features]
test_X = test_df[numerical_features]
train_y = train_df['interest_level']
#test_y = test_df['interest_level']

In [15]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [16]:
y_pred = clf.predict_proba(test_X)
y_pred

array([[ 0.09      ,  0.49233333,  0.41766667],
       [ 0.052     ,  0.214     ,  0.734     ],
       [ 0.05      ,  0.34      ,  0.61      ],
       ...,
       [ 0.63458333,  0.16875   ,  0.19666667],
       [ 0.09      ,  0.70142857,  0.20857143],
       [ 0.        ,  0.05      ,  0.95      ]])

In [17]:
labels2idx = {label: i for i, label in enumerate(clf.classes_)}
print(labels2idx)

{1: 0, 2: 1, 3: 2}

In [18]:
test_df

,index,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,num_photos,num_features,room_sum,price_t,num_description_words
0,120972,2.0,3,6164,2016-04-01 22:23:31,east park avenu thi full bedroom apart absolut...,4431,"[Common Outdoor Space, Cats Allowed, Private O...",40.7475,6811958,-73.9800,1034,[https://photos.renthop.com/2/6811958_bb863a41...,5000,809,4,8,5.0,1666.666667,128
1,94250,2.0,2,7590,2016-04-01 22:50:13,thi absolut humong renov corner true bedroom b...,10739,"[Cats Allowed, Dogs Allowed, No Fee, Doorman, ...",40.7378,6811960,-73.9833,1034,[https://photos.renthop.com/2/6811960_a3bd5175...,5195,7410,6,6,4.0,2597.500000,55
2,101044,1.0,2,10834,2016-04-01 22:54:42,lexington avenu thi stun bedroom flex great de...,10774,"[Common Outdoor Space, Cats Allowed, Private O...",40.7388,6811964,-73.9851,1034,[https://photos.renthop.com/2/6811964_25445445...,3795,3916,5,8,3.0,1897.500000,46
3,110776,1.0,1,4454,2016-04-01 23:13:27,recent renov one bedroom can flex murray hill ...,269,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7456,6811971,-73.9786,675,[https://photos.renthop.com/2/6811971_5a8ef251...,3450,4941,7,8,2.0,3450.000000,225
4,89929,1.0,1,1664,2016-04-02 00:04:46,spaciou apart featur privat terrac open kitche...,2667,"[Common Outdoor Space, Cats Allowed, Private O...",40.7773,6811974,-73.9222,4241,[https://photos.renthop.com/2/6811974_f743ac4f...,2095,6016,9,10,2.0,2095.000000,95
5,98864,1.5,1,11013,2016-04-02 01:01:24,free gift card thi fee renov duplex bath and r...,12849,"[dishwasher, Dogs Allowed, Cats Allowed, Laund...",40.6891,6811983,-73.9325,878,[https://photos.renthop.com/2/6811983_ca101031...,2299,22257,3,8,2.5,2299.000000,108
6,117158,1.0,1,8722,2016-04-02 01:01:28,free gift card thi fee renov bath and room the...,8531,"[gym, dishwasher, Dogs Allowed, Cats Allowed, ...",40.6787,6811984,-73.9503,878,[https://photos.renthop.com/2/6811984_1c14c8ac...,2150,2071,5,8,2.0,2150.000000,116
7,108192,1.0,0,5316,2016-04-02 01:01:34,thi fee studio bath and room the build conveni...,1726,"[No Fee, Exclusive]",40.6767,6811985,-73.9433,878,[],2000,2859,0,2,1.0,inf,86
8,103295,1.0,1,7816,2016-04-02 01:01:49,brand new build fee the bedroom can fit queen ...,2341,"[Common Outdoor Space, Laundry In Unit, Cats A...",40.6841,6811988,-73.9132,1253,[https://photos.renthop.com/2/6811988_fe6ab52c...,1900,4988,8,7,2.0,1900.000000,69
9,95162,1.0,1,0,2016-04-02 01:10:18,thi bedroom apart locat prospect height the ap...,11211,"[Pre-War, Dogs Allowed, Cats Allowed]",40.6715,6811990,-73.9595,2389,[https://photos.renthop.com/2/6811990_b2fd2218...,2250,11303,3,3,2.0,2250.000000,51
10,121029,1.0,0,0,2016-04-02 01:10:19,beauti renov studio apart the heart sunnysid a...,5397,[Pre-War],40.7490,6811992,-73.9130,2584,[https://photos.renthop.com/2/6811992_040de2e3...,1550,19541,6,1,1.0,inf,62
11,121139,1.0,3,0,2016-04-02 01:10:47,larg bedroom apart york ave with great proxim ...,15694,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7746,6811995,-73.9485,3987,[https://photos.renthop.com/2/6811995_1c303138...,3130,4305,6,3,4.0,1043.333333,47
12,106951,1.0,1,0,2016-04-02 01:10:52,complimentari gym and amaz roofdeck east build...,10823,"[Doorman, Fitness Center, Pre-War]",40.7473,6811997,-73.9738,2495,[https://photos.renthop.com/2/6811997_42f7bca7...,2650,12071,1,3,2.0,2650.000000,96
13,101939,1.0,1,0,2016-04-02 01:11:58,live williamsburg one the most desir hous loca...,13480,"[Fitness Center, Dogs Allowed, Cats Allowed]",40.7168,6812012,-73.9520,2207,[https://photos.renthop.com/2/6812012_e0dbe379...,3450,20558,3,3,2.0,3450.000000,99
14,109386,3.0,3,0,2016-04-02 01:12:01,third ave floor with open bright incred citi v...,10980,"[Doorman, Dogs Allowed, Cats Allowed]",40.7682,6812016,-73.9606,2495,[https://photos.renthop.com/2/6812016_61184c2e...,13500,7516,6,3,6.0,4500.000000,100
15,102833,2.0,2,0,2016-04-02 01:12:30,beauti bedroom and bath doorman elev build loc...,15223,"[Doorman, Fitness Center, Dogs Allowed, Cats A...",40.7443,6812032,-73.9999,4142,[https://photos.renthop.com/2/6812032_ffb3ac6e...,5200,12198,9,4,4.0,2600.000000,64
16,120085,1.0,1,0,2016-04-02 01:12:44,build amenitiesconciergegymlaundri buildingl s...,15556,"[Doorman, Fitness Center, Pre-War, No Fee, Dog...",40.7053,6812035,-74.0161,602,[https://photos.renthop.com/2/6812035_2c5e18b7...,3230,247,7,6,2.0,3230.000000,13
17,116435,1.0,2,0,2016-04-02 01:12:59,thi bedroom apart locat washington height the ...,15133,"[Pre-War, Dogs Allowed, Cats Allowed]",40.8367,6812041,-73.9382,2389,[https://photos.renthop.com/2/6812041_47554c6a...,2100,18128,3,3,3.0,1050.000000,52
18,98695,1.0,2,0,2016-04-02 01:13:04,locat the heart the upper east side ultra luxu...,11124,"[Doorman, Fitness Center, Dogs Allowed, Cats A...",40.7801,6812045,-73.9475,381,[https://photos.renthop.com/2/6812045_fbdc79e9...,4360,15400,4,4,3.0,2180.000000,78
19,120182,1.0,1,0,2016-04-02 01:13:21,amaz one bedroom unit the heart fort green the...,9030,"[Fireplace, Pre-War]",40.6905,6812049,-73.9701,3773,[https://photos.renthop.com/2/6812049_a74ab516...,2600,9308,5,2,2.0,2600.000000,31
20,92084,1.0,0,0,2016-04-02 01:13:23,thi alcov studio apart locat greenwich villag ...,13000,"[Fireplace, Pre-War]",40.7288,6812050,-73.9887,2389,[https://photos.renthop.com/2/6812050_cce7b782...,2100,10829,4,2,1.0,inf,56
21,106220,1.0,1,0,2016-04-02 01:13:24,reduc fee bedroom pre war luxuri build granit ...,8988,"[Doorman, Pre-War, No Fee, Dogs Allowed, Cats ...",40.7334,6812051,-74.0047,1770,[https://photos.renthop.com/2/6812051_39ff9c3d...,4100,24576,4,5,2.0,4100.000000,32
22,114080,1.0,2,0,2016-04-02 01:13:31,thi bedroom apart locat midwood the apart loca...,8578,"[Pre-War, Dogs Allowed, Cats Allowed]",40.6223,6812052,-73.9633,2389,[https://photos.renthop.com/2/6812052_7a83ef83...,2300,1966,5,3,3.0,1150.000000,51
23,95946,1.0,1,0,2016-04-02 01:13:57,,15421,"[Multi-Level, Pre-War, Dogs Allowed, Cats Allo...",40.7781,6812063,-73.9778,2515,[https://photos.renthop.com/2/6812063_4a44059e...,3400,21869,4,4,2.0,3400.000000,1
24,99989,1.0,2,0,2016-04-02 01:14:33,recent renov includ stainless steel kitchen qu...,15040,[Pre-War],40.8160,6812077,-73.9445,3897,[https://photos.renthop.com/2/6812077_9d0749c6...,2100,7683,9,1,3.0,1050.000000,27
25,87697,1.0,0,0,2016-04-02 01:14:46,brand new the market,11065,"[Fireplace, Pre-War, Dogs Allowed, Cats Allowed]",40.7754,6812082,-73.9523,3931,[],1850,13157,0,4,1.0,inf,4
26,108538,1.0,0,0,2016-04-02 01:15:07,studio avail for rent west street the upper we...,15421,"[Doorman, Pre-War, Dogs Allowed, Cats Allowed]",40.7788,6812091,-73.9806,3030,[https://photos.renthop.com/2/6812091_0ea9661f...,2700,4574,3,4,1.0,inf,86
27,87355,1.0,0,0,2016-04-02 01:15:40,larg luxuri studio apart twenti four hour conc...,15556,"[Doorman, Fitness Center, Pre-War, No Fee, Dog...",40.7053,6812098,-74.0161,3959,[https://photos.renthop.com/2/6812098_800b971d...,2792,247,1,6,1.0,inf,84
28,85040,1.0,3,0,2016-04-02 01:16:05,thi bedroom apart locat crown height the apart...,12826,[],40.6730,6812106,-73.9271,2389,[https://photos.renthop.com/2/6812106_f1b4a16a...,2500,3613,5,0,4.0,833.333333,54
29,123221,1.0,1,0,2016-04-02 01:16:53,you love everyth thi apart offer new renov hig...,12022,[Doorman],40.8127,6812119,-73.9409,3092,[https://photos.renthop.com/2/6812119_166c44d7...,2125,18716,4,1,2.0,2125.000000,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74629,17214,1.0,1,854,2016-06-03 13:59:51,locat the upper west side thi bright and spaci...,15409,"[Elevator, Dogs Allowed, Laundry In Building, ...",40.7783,7699404,-73.9836,911,[https://photos.renthop.com/2/7105861_f58477b6...,3500,8784,4,5,2.0,3500.000000,32
74630,49556,1.0,0,1672,2016-05-24 15:28:24,locat within walk distanc union squar and the ...,15215,"[Laundry In Unit, Cats Allowed, Dogs Allowed, ...",40.7419,7699413,-73.9967,911,[https://photos.renthop.com/2/7062032_b2cfb9dc...,3700,5701,3,17,1.0,inf,42
74631,50416,1.0,1,4484,2016-05-11 15:11:18,situat premier luxuri chelsea build close the ...,15239,"[Common Outdoor Space, Laundry In Unit, Cats A...",40.7475,7699418,-74.0047,911,[https://photos.renthop.com/2/6997664_8cf1562d...,4200,19224,5,24,2.0,4200.000000,51
74632,66382,1.0,1,4418,2016-05-11 14:24:29,offer state the art design thi one bedroom apa...,13112,"[Cats Allowed, Dogs Allowed, Elevator, Fitness...",40.7452,7699419,-73.9915,911,[https://photos.renthop.com/2/6997616_8179aa33...,3400,23354,4,16,2.0,3400.000000,41
74633,32176,1.0,1,1145,2016-06-01 14:47:27,live thi beauti one bedroom midtown west apart...,15365,"[Cats Allowed, Dogs Allowed, Parking Space, Do...",40.7683,7699421,-73.9897,911,[https://photos.renthop.com/2/7094237_076fbba5...,3500,19240,4,17,2.0,3500.000000,31
74634,29617,1.0,1,810,2016-06-20 13:03:02,for privat view pleas call text avail pleas as...,15556,"[Cats Allowed, Dogs Allowed, Parking Space, No...",40.7053,7707462,-74.0162,1238,[https://photos.renthop.com/2/7181472_5a197abf...,3250,247,4,5,2.0,3250.000000,36
74635,29182,1.0,2,8528,2016-06-10 20:23:04,the heart new york citi financi district thi l...,12871,"[Cats Allowed, Private Outdoor Space, Dogs All...",40.7080,7707510,-74.0149,1238,[https://photos.renthop.com/2/7138078_b6c11bb4...,3877,24307,5,6,3.0,1938.500000,129
74636,30883,1.0,0,810,2016-06-20 13:16:24,for privat view pleas call text avail pleas as...,15563,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7053,7707515,-74.0162,1238,[https://photos.renthop.com/2/7181484_535dff1c...,2550,274,5,7,1.0,inf,36
74637,7991,1.0,0,4963,2016-06-20 14:14:29,stun studio thi amaz build where you can enjoy...,13170,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7096,7707520,-74.0077,1238,[https://photos.renthop.com/2/7181548_e8f9df56...,3170,23539,7,7,1.0,inf,62
74638,34936,1.0,2,6750,2016-06-07 17:57:11,thi brand new gut renov larg bedroom washer dr...,10996,"[Laundry In Unit, Dogs Allowed]",40.7671,7707671,-73.9529,240,[https://photos.renthop.com/2/7122054_12bcfbcc...,3295,19323,4,2,3.0,1647.500000,49
74639,77720,1.0,2,0,2016-05-19 17:50:28,stun bedroom convert wall street great valu fo...,0,"[Elevator, Fitness Center]",40.7060,7714404,-74.0088,1238,[https://photos.renthop.com/2/7039975_ffece52e...,3325,0,3,2,3.0,1662.500000,36
74640,66666,1.0,1,8112,2016-05-19 14:18:02,spaciou bedroom bathroom fidi with doorman som...,11326,"[Doorman, Elevator, Fitness Center]",40.7075,7714406,-74.0113,1238,[https://photos.renthop.com/2/7039835_dfccde0c...,3254,25292,4,3,2.0,3254.000000,32
74641,49824,1.0,2,0,2016-05-18 16:19:55,resid enjoy comprehens array lifestyl servic a...,13175,"[Doorman, Elevator, Fitness Center]",40.7110,7714408,-74.0051,1238,[https://photos.renthop.com/2/7033878_b82f1c73...,6500,25417,6,3,3.0,3250.000000,69
74642,59041,1.0,3,786,2016-05-15 11:14:54,doorman bedroom condo like,13383,"[Common Outdoor Space, Doorman, Elevator, Fitn...",40.7247,7724353,-73.9807,3237,[https://photos.renthop.com/2/7017603_92ecba6c...,4350,6046,3,5,4.0,1450.000000,4
74643,19942,1.0,2,0,2016-06-15 12:00:56,amaz gramerci ave veri larg true queen size be...,9452,"[Cats Allowed, Dogs Allowed]",40.7354,7724798,-73.9827,4086,[https://photos.renthop.com/2/7165165_d17811a7...,3125,25044,6,2,3.0,1562.500000,16
74644,2039,1.0,1,5954,2016-06-10 10:16:27,bright bedroom apart with granit kitchen stain...,10303,"[Common Outdoor Space, Doorman, Elevator, Laun...",40.7842,7731330,-73.9504,2082,[https://photos.renthop.com/2/7137735_379b4371...,2925,5766,5,4,2.0,2925.000000,54
74645,102876,1.0,1,0,2016-04-02 14:34:46,thi one bedroom condominium featur conceal whi...,8788,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7046,7742634,-74.0126,687,[https://photos.renthop.com/2/6817064_e51200f2...,3800,24977,7,7,2.0,3800.000000,64
74646,83795,1.0,1,0,2016-04-03 11:58:11,thi spaciou studio offer stainless steel kitch...,12207,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7074,7742636,-74.0076,687,[https://photos.renthop.com/2/6819631_ba7bdf30...,3350,25356,6,7,2.0,3350.000000,39
74647,32492,2.0,2,3970,2016-06-11 15:06:59,modern luxuri high rise build offer bedroom ba...,8788,"[Common Outdoor Space, Laundry In Unit, Doorma...",40.7061,7742642,-74.0111,687,[https://photos.renthop.com/2/7143995_10022e30...,5765,10252,5,5,4.0,2882.500000,70
74648,29814,2.0,2,7890,2016-06-27 04:57:52,beauti unit avail batteri park citi featur flo...,12602,"[Washer in Unit, Dryer in Unit, Dishwasher, Do...",40.7160,7742644,-74.0148,687,[https://photos.renthop.com/2/7221894_a4f65ab2...,7800,6548,4,8,4.0,3900.000000,28
74649,1564,1.0,1,2482,2016-06-28 04:58:53,eleg one bedroom locat the heart chelsea thi l...,15247,"[Elevator, Exclusive]",40.7478,7742794,-74.0008,3612,[],3995,16419,0,2,2.0,3995.000000,25
74650,46593,2.0,2,10741,2016-05-02 22:47:14,charl thi beauti newli renov bedroom apart loc...,6719,"[Cats Allowed, Laundry In Unit, No Fee]",40.6455,7742859,-74.0204,3344,[https://photos.renthop.com/2/6954676_2dd09c2b...,2300,20912,7,3,4.0,1150.000000,69
74651,25711,2.0,2,5964,2016-06-22 05:05:09,,15028,"[Elevator, Cats Allowed, Dogs Allowed, Exclusive]",40.7373,7742861,-74.0042,3612,[],5995,11638,0,4,4.0,2997.500000,1
74652,64146,1.0,1,0,2016-05-10 09:53:34,take reduc broker fee bonus get littl tast lux...,11662,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7045,7748247,-74.0095,963,[https://photos.renthop.com/2/6991607_c586e062...,3670,25327,9,15,2.0,3670.000000,143
74653,81761,2.0,2,0,2016-05-09 17:05:01,broker fee stun larg bedroom and bathroom the ...,11495,"[Common Outdoor Space, Dogs Allowed, Parking S...",40.7091,7748250,-74.0055,963,[https://photos.renthop.com/2/6987165_5fb0b718...,4960,25300,12,13,4.0,2480.000000,153
74654,75429,2.0,2,0,2016-05-09 16:55:01,broker fee stun larg bedroom bathroom privat b...,11498,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7128,7748251,-74.0059,963,[https://photos.renthop.com/2/6987146_3902840a...,5400,25301,12,14,4.0,2700.000000,154
74655,22595,1.0,2,778,2016-06-26 03:55:39,beauti apart must see conveni locat near eater...,10125,"[No Fee, Hardwood Floors]",40.7746,7748271,-73.9507,3560,[https://photos.renthop.com/2/7219069_8cb7146e...,2600,4366,5,2,3.0,1300.000000,60
74656,39211,1.0,0,10941,2016-06-21 04:44:36,actual photo thi amaz price cost for studio mu...,10009,"[No Fee, Hardwood Floors]",40.7710,7748273,-73.9580,3560,[https://photos.renthop.com/2/7190851_14c1378b...,1800,9124,6,2,1.0,inf,100
74657,66283,1.0,0,8726,2016-05-12 13:26:23,the apart you alway want midtown west the glam...,12748,"[Cats Allowed, Dogs Allowed]",40.7625,7754429,-73.9938,1225,[https://photos.renthop.com/2/7003347_fa620098...,1900,22262,3,2,1.0,inf,33
74658,48862,3.0,3,6185,2016-05-10 14:43:42,newli renov and state the art apart the upper ...,8467,"[Common Outdoor Space, Laundry In Unit, Cats A...",40.7759,7761779,-73.9840,303,[https://photos.renthop.com/2/6991915_fec706c6...,8300,5156,8,14,6.0,2766.666667,187

In [19]:
sub = pd.DataFrame()
sub['listing_id'] = test_df['index']
i = 0
for label in [ "high", "medium", "low"]:
    i = i + 1
    sub[label] = y_pred[:, labels2idx[i]]
print(sub)
sub.to_csv("submission_rf.csv", index=False)

       listing_id      high    medium       low
0          120972  0.090000  0.492333  0.417667
1           94250  0.052000  0.214000  0.734000
2          101044  0.050000  0.340000  0.610000
3          110776  0.010000  0.295000  0.695000
4           89929  0.260000  0.520000  0.220000
5           98864  0.096000  0.329000  0.575000
6          117158  0.275000  0.293714  0.431286
7          108192  0.195000  0.132500  0.672500
8          103295  0.426667  0.380000  0.193333
9           95162  0.010000  0.130000  0.860000
10         121029  0.040000  0.120000  0.840000
11         121139  0.010000  0.060000  0.930000
12         106951  0.000000  0.000000  1.000000
13         101939  0.000000  0.010000  0.990000
14         109386  0.000000  0.010000  0.990000
15         102833  0.000000  0.020000  0.980000
16         120085  0.000000  0.115000  0.885000
17         116435  0.010000  0.000000  0.990000
18          98695  0.010000  0.030000  0.960000
19         120182  0.000000  0.044286  0.955714
20          92084  0.000000  0.030000  0.970000
21         106220  0.000000  0.010000  0.990000
22         114080  0.010000  0.020000  0.970000
23          95946  0.000000  0.010000  0.990000
24          99989  0.040000  0.070000  0.890000
25          87697  0.000000  0.020000  0.980000
26         108538  0.000000  0.060000  0.940000
27          87355  0.010000  0.090000  0.900000
28          85040  0.040000  0.115000  0.845000
29         123221  0.000000  0.060000  0.940000
...           ...       ...       ...       ...
74629       17214  0.010000  0.110000  0.880000
74630       49556  0.050000  0.300000  0.650000
74631       50416  0.000000  0.200000  0.800000
74632       66382  0.020000  0.296000  0.684000
74633       32176  0.050000  0.280000  0.670000
74634       29617  0.020000  0.098667  0.881333
74635       29182  0.025000  0.235000  0.740000
74636       30883  0.030000  0.093333  0.876667
74637        7991  0.010000  0.050000  0.940000
74638       34936  0.010000  0.160909  0.829091
74639       77720  0.060000  0.205000  0.735000
74640       66666  0.040000  0.195000  0.765000
74641       49824  0.010000  0.020000  0.970000
74642       59041  0.182500  0.504167  0.313333
74643       19942  0.200000  0.740000  0.060000
74644        2039  0.010000  0.117500  0.872500
74645      102876  0.000000  0.000000  1.000000
74646       83795  0.000000  0.040000  0.960000
74647       32492  0.003333  0.056667  0.940000
74648       29814  0.000000  0.050000  0.950000
74649        1564  0.000000  0.010000  0.990000
74650       46593  0.175952  0.618714  0.205333
74651       25711  0.010000  0.100000  0.890000
74652       64146  0.010000  0.150000  0.840000
74653       81761  0.010000  0.140000  0.850000
74654       75429  0.020000  0.150000  0.830000
74655       22595  0.096667  0.392667  0.510667
74656       39211  0.634583  0.168750  0.196667
74657       66283  0.090000  0.701429  0.208571
74658       48862  0.000000  0.050000  0.950000

[74659 rows x 4 columns]

In [20]:
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=25)
scores = cross_val_score(clf, train_X, train_y, cv=100)
scores.max()

0.77890466531440161

In [21]:
from sklearn.ensemble import AdaBoostClassifier

clf = AdaBoostClassifier()
scores1 = cross_val_score(clf, train_X, train_y, cv=100)
scores1.max()

0.7595959595959596

In [22]:
from sklearn.ensemble import ExtraTreesClassifier

clf = ExtraTreesClassifier()
scores2 = cross_val_score(clf, train_X, train_y, cv=100)
scores2.max()

0.75862068965517238

In [32]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
scores3 = cross_val_score(clf, train_X, train_y, cv=100)
scores3.max()

0.71602434077079102

In [36]:
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train_X, train_y, test_size=0.20)

print("Random Forests:\nTraining...n_estimators=1000")
clf1 = RandomForestClassifier(n_estimators=1000)
clf1.fit(X_train, y_train)
y_val_pred = clf1.predict_proba(X_val)
print(log_loss(y_val, y_val_pred))

Random Forests:
Training...n_estimators=1000
0.619966223125

In [37]:
print("Extra Trees:\nTraining...n_estimators=1000")
clf2 = ExtraTreesClassifier(n_estimators=1000)
clf2.fit(X_train, y_train)
y_val_pred1 = clf2.predict_proba(X_val)
print(log_loss(y_val, y_val_pred1))

Extra Trees:
Training...n_estimators=1000
1.85419904371

In [38]:
print("Adaboost:")
clf3 = AdaBoostClassifier()
clf3.fit(X_train, y_train)
y_val_pred2 = clf3.predict_proba(X_val)
print(log_loss(y_val, y_val_pred2))

Adaboost:
1.07103381217

In [39]:
print("Logistic Regression:")
clf4 = LogisticRegression()
clf4.fit(X_train, y_train)
y_val_pred3 = clf4.predict_proba(X_val)
print(log_loss(y_val, y_val_pred3))

Logistic Regression:
0.69828499841

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:352: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)

In [43]:
from sklearn.ensemble import VotingClassifier

print("Voting Classifier:")
clf = VotingClassifier(estimators=[('rf',clf1),('lr',clf4)],voting='soft')
clf.fit(X_train, y_train)
y_val_pred4 = clf.predict_proba(X_val)
print(log_loss(y_val, y_val_pred4))

Voting Classifier:
0.616737896344

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:352: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)